/* = Components =*/
@import url("/src/css/cssPage/container.css");
@import url("/src/css/cssPage/loadCSS.css");
@import url("/src/css/cssPage/modal.css");

/* === General Design ===*/
.page {
  width: 100%;
  height: 100vh;
  /* display: grid; */
  position: relative;
}
